body{
background-color:#696969;
width:1200px;
height:800px;

}

.button01{
margin:-1px;
border:0;
padding:11px;
background-color:#fff;


}

#add{
width:900px;
font-size:20px;
}

#color-d{
width:40px;
height:40px;
}

a,img{
filter: drop-shadow(1px 1px 2px  darkgrey);
margin-left:6px;
}

a:hover{
opacity:0.6;
}

#button-pic{
border-radius:5em;
font-size:20px;
margin:10px;
background-color:#fff;
}

#upload{
width:270px;
height:680px;
margin-left:20px;
border:solid 1px;
overflow:scroll;
border-color:#e6e6fa;
font-size:30px;
text-align:center;
}

#uploadCon{
width:270px;
height:680px;
margin-left:20px;
float:left;
}

#canvas{
width:900px;
height:800px;
float:left
}
